<div class="w-50 mx-auto">
    <div>
        <h2>Departments</h2>
    </div>
    <div class="d-flex flex-column my-5 d-grid gap-2">
        {{#each departments as |department|}}
            <a class="btn btn-outline-primary btn-lg d-flex justify-content-center" href="/department-detail/{{department.id}}">
                <div class="h3">{{department.department_name}}</div>
            </a>
        {{/each}}
    </div>
</div>