<div class="card">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h2>{{employee_first}}</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">EMPLOYEE ID</li>
                      <li class="list-group-item">PHONE NUMBER</li>
                      <li class="list-group-item">EMAIL</li>
                      <li class="list-group-item">SEAT #</li>
                      <li class="list-group-item">FLOOR</li>
                      <li class="list-group-item">BUILDING</li>
                    </ul>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h2>ACCOUNTING</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">000</li>
                        <li class="list-group-item">000-000-0000</li>
                        <li class="list-group-item">@GMAIL.COM</li>
                        <li class="list-group-item">1</li>
                        <li class="list-group-item">1</li>
                        <li class="list-group-item">ABC</li>
                    </ul>
             
                </div>
        </div>