<div class="w-50 mx-auto">
    <div>
        <h2>Employees</h2>
    </div>
    <div class="d-flex flex-column my-5 d-grid gap-2">
        {{#each employees as |employee|}}
            <a class="btn btn-outline-primary btn-lg d-flex justify-content-between" href="/employee-detail/{{employee.id}}">
                <div class="h3 m-0">{{employee.first_name}} {{employee.last_name}}</div>
                <div class="h3 text-start m-0" style="width: 35%;">{{employee.department.department_name}}</div>
            </a>
        {{/each}}
    </div>
</div>