<div>
            <h1>EMPLOYEES</h1>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{employee.name}}</h5>
                <div class="card">EMPLOYEE ID</div>
                <div class="card">PHONE NUMBER</div>
                <div class="card">EMAIL</div>
                <div class="card">SEAT #</div>
                <div class="card">FLOOR</div>
                <div class="card">BUILDING</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{department.name}}</h5>
                <div class="card">000</div>
                <div class="card">000-000-0000</div>
                <div class="card">@GMAIL.COM</div>
                <div class="card">1</div>
                <div class="card">1</div>
                <div class="card">ABC</div>
              </div>
            </div>
          </div>
        </div>