<div class="d-flex flex-column w-25 my-5 mx-auto d-grid gap-5">
    <a class="btn btn-outline-primary btn-lg" href="#">
        <h2>Employees</h2>
    </a>
    <a class="btn btn-outline-primary btn-lg" href="#">
        <h2>Departments</h2>
    </a>
    <a class="btn btn-outline-primary btn-lg" href="#">
        <h2>Floors</h2>
    </a>
</div>