<div class="mx-auto shadow-lg rounded-3 mt-5" style="width: 30%;">
    <form class="form login-form d-grid gap-3 p-5">
        <div class="form-group d-flex justify-content-between">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group d-flex justify-content-between">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group mx-auto">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>