<div class="w-50 mx-auto">
    <div>
        <h2>Edit Facility Manager</h2>
    </div>
    <div class="mx-auto shadow-lg rounded-3 mt-5">
        <form class="form signup-form d-grid gap-3 p-5">
            <div class="form-group d-flex justify-content-between">
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    <label for="fname-signup">First Name:</label>
                    <input class="form-input" type="text" id="fname-signup" />
                </div>
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    <label for="lname-signup">Last Name:</label>
                    <input class="form-input" type="text" id="lname-signup" />
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    <label for="email-signup">Email:</label>
                    <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" />
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                </div>
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    (Minimum 8 characters)
                </div>
            </div>
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" />
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                </div>
                <div class="d-flex justify-content-between" style="width: 47.5%;">
                    (Please re-enter your password)
                </div>
            </div>
            <div class="form-group mt-3 mx-auto">
                <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i> Create</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/userEdit.js"></script>